@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand";
  }
}

.nav__bar {
  backdrop-filter: blur(13px)!important;
  background-color: #0e0e4eef;
  border-bottom: 1px solid rgba(255, 255, 255, 0.105);
}

.main__button {
  color: rgba(255, 255, 255, 0.915);
  border: 1px solid rgba(255, 255, 255, 0.382);
  background-color: rgba(14, 12, 12, 0.041);
  padding: 10px;
  border-radius: 5px;
}
